@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&family=Ubuntu+Condensed&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
.App{
  background-color: var(--secondary);
}
:root {
  --primary: #e9e7e9; /* fundo claro */
  --secondary: #222022; /* fundo escuro */
  --tertiary: #328284; 
  --white: #feffff;
}
.container{
  margin: auto;
}

/* ====================== Navbar ====================== */
.navbar{
  position: fixed !important;
  top: 0; 
  width: 100vw;
  font-family: 'Ubuntu Condensed', sans-serif;
  background-color: var(--secondary);
  z-index: 999;
}
.navbar-nav{
  margin-left: auto;
  padding-top: 10px;
}
.navbar-brand{
  color: var(--tertiary) !important;
}
nav ul li{
  text-transform: uppercase;
}
.nav-link{
  color: var(--white) !important;
  font-size: 18px;
  margin-left: 22px;
  padding: 8px 0px !important;
  letter-spacing: 0.2px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}
.nav-link.active,
.nav-link:focus,
.nav-link:hover{
  color: var(--tertiary) !important;
  border-bottom: 2px solid var(--tertiary);
}
.navbar-toggler .fa-bars{
  padding-top: 15px;
  font-size: 24px;
}


/* ====================== Similar styling ====================== */
.white{
  background-color: var(--primary);
}
.about, .projects, .testimonials, .contact, footer{
  font-family: 'Poppins', sans-serif;
  border-radius: 25px;
  padding: 80px 0px;
}
.home, .about, .contact{
  background-color: var(--secondary);
  color: var(--primary);
}
.projects, .testimonials{
  background-color: var(--primary);
  color: var(--secondary);
}
.projects .projects-content,
.about .about-content,
.testimonials .testimonials-content,
.contact .contact-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif; 
}
section .title::before{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: var(--secondary);
  transform: translateX(-50%);
}
section .title::after{
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: var(--tertiary);
  padding: 5px;
  background: var(--primary);
  transform: translateX(-50%);
}
.about .title::before,
.contact .title::before{
  background: var(--primary);
}
.about .title::after,
.contact .title::after{
  background: var(--secondary);
}
.window-card{
  border-radius: 25px;
  background-color: var(--secondary);
}


/* ====================== Home ====================== */
.home{
  display: flex;
  height: 100vh;
  min-height: 500px;
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
}
.home .home-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  /* background-color: purple; */
}
.home .home-content .home-text{
  width: 60%;
  /* background-color: royalblue; */
}
.home .home-content .img-box{
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.home .home-content .img-box .home-img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  box-shadow: 0px 0px 0px transparent;
  margin-top: -120px;
  width: 100%;
  height: 100vh;
  background: url("images/home.svg") no-repeat center; 
}
.home .home-text .text-1{
  font-size: 27px;
}
.home .home-text .text-2{
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-text .text-3{
  font-size: 40px;
  margin: 5px 0; 
}
.home .home-text .text-3 span{
  color:  var(--tertiary);
  font-weight: 500;
}

/* ====================== Projects Section ====================== */
.projects .title::after{
  content: "what I do";
}
.projects .projects-content{
  justify-content: center;
}
.project-card{
  border-radius: 15px !important;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-color: var(--secondary);
  transition: all 0.3s ease;
}
.project-card:hover{
  transform: scale(1.05);
}
.project-img-box{
  width: 100%;
  display: flex;
  align-items: center;
}
.project-img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
  width: 100%;
  height: auto;
}
.project-info{
  padding: 0 0 0 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}
.project-info-text{
  text-align: center;
}
.project-title{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin: 10px 0;
  color: var(--tertiary);
}
.project-description{
  font-size: 15px;
  margin-bottom: 10px;
}
.project-tags{
  font-size: 13px;
  margin-bottom: 10px;
}
.project-info-btns{
  margin-top: 7px;
  display: flex;
  flex-direction: column;
}
.project-info .btn{
  width: 145px;
  font-size: 15px;
  font-weight: 500;
  margin: 3px;
  color: var(--tertiary);
  background: var(--secondary);
  border: 2px solid var(--tertiary);
  transition: all 0.3s ease;
  border-radius: 15px;
}
.project-info .btn:hover{
  background: var(--tertiary);
  color: var(--secondary);
  border: 2px solid var(--secondary);
}



/* ====================== About Section ====================== */
.about .title::after{
  content: "who I am";
}
.about .about-content{
  align-items: flex-start;
  width: 100%;
}
.about .about-content .left,
.about .about-content .right{
  padding: 0 22px 0 22px;
}
.about .about-content .left{
  width: calc(40% - 20px);
}
.about .about-content .right{
  width: calc(60% - 20px);
}
.contact .contact-content .column{
  width: calc(50% - 20px);
}
.project-info .btn{
  width: 200px;
}
.about .about-content .left .text,
.about .about-content .right .text{
  font-size: 25px;
  font-weight: 600;
  margin: 24px 0;
  text-align: center;
}
.about .about-content .right .about-btn{
  display: flex;
  justify-content: center;
}
.about .about-content .right .text span{
  color: var(--tertiary);
}
.about .about-content .right p{
  text-align: justify;
  margin-bottom: 24px;
}
.about .about-content .left .skills{
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.about .about-content .left .skills div{
  width: 80px;
  margin:  10px 10px;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .about-content .left .skills div i{
  color: var(--tertiary);
}
.about .about-content .left .skills p{
  font-size: 15px;
  font-weight: 400;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}
.about .about-content .right .experience-box{
  display: flex;
}
.about .about-content .right .experience-box .experience{
  padding-right: 50px;
}
.about .about-content .right .experience-box .experience h3,
.about .about-content .right .experience-box .experience h6,
.about .about-content .right .experience-box .experience p{
  max-width: 150px;
  text-align: left;
}
.about .about-content .right .experience-box .experience h6{
  font-weight: 400;
  margin-bottom: 0;
}
.about .about-content .right .experience-box .experience p{
  font-size: 12px;
}
.about .about-content .about-btn{
  display: flex;
  justify-content: center;
  width: 100%;
}
.about .about-content .about-btn a{
  display: flex;
  justify-content: center;
  color: var(--tertiary);
  background: none;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 33px;
  margin: 3px;
  border-radius: 15px;
  border: 2px solid var(--tertiary);
  transition: all 0.3s ease;
  align-self: center;
  text-align: center;
  width: 350px;
}
.about .about-content .about-btn a:hover{
  background: var(--tertiary);
  color: var(--secondary);
}


/* ====================== Testimonials ====================== */
.testimonials .title::after{
  content: "how I work";
}
.testimonials-content .carousel-item .row{
  padding: 10px 40px 10px 40px;
  justify-content: space-evenly !important;
}
.testimonials-content .single-box{
  margin: 50px 0 10px 0;
  padding: 20px;
  border-radius: 15px;
  border: none;
  transition: all 0.3s ease;
  background-color: var(--white);
  width: 100%;
}
.testimonials-content .card-img-box{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.testimonials-content .card-img{
  width: 125px;
  height: 125px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
  border: 2px solid var(--tertiary);
  margin:-50px 10px 20px 10px;
}

.testimonials-content .card-name-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--tertiary);
  text-decoration: none;
}
.testimonials-content .card-name-box:hover{
  text-decoration: underline;
}
.testimonials-content .single-box .card-title{
  padding-right: 9px;
}
.testimonials-content .single-box .card-subtitle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: red;
}
.testimonials-content .single-box .card-text{
  margin: 10px;
  text-align: center;
}
.testimonials-content .card-name-box i{
  margin-top: 3px;
  font-size: 18px;
}
.testimonials-content .card-person-box{
  display: flex;
  flex-direction: column;
  align-items: center !important;
  text-decoration: none;
}
.testimonials-content .card-title{
  font-family: 'Ubuntu', sans-serif; 
  color: var(--tertiary);
}
.testimonials-content .card-subtitle{
  font-family: 'Ubuntu', sans-serif; 
  font-weight: 400;
}
.testimonials-content .carousel-control-prev,
.testimonials-content .carousel-control-next{
  color: var(--tertiary);
  font-size: 40px;
  font-weight: 500;
  text-decoration: none;
}
.testimonials-content .carousel-control-prev{
  margin-left: -50px;
}
.testimonials-content .carousel-control-next{
  margin-right: -50px;
}

/* ====================== Contact Section ====================== */
.contact .title::after{
  content: "get in touch";
}
.contact .contact-content{
  align-items: flex-start;
}
.contact .contact-content .subtitle{
  font-size: 25px;
  font-weight: 600;
  margin: 24px 0;
  text-align: center;
}
.contact .contact-content .text{
  text-align: center;
}
.contact .contact-content .row{
  display: inline-block;
  /* height: 65px; */
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
  margin: 0 0 24px 0;
}
.contact .contact-content .row a i{
  display: inline-block;
  color: var(--tertiary);
  background-color: var(--secondary);
  font-size: 28px;
  font-weight: 500;
  padding: 8px;
  margin: 10px 50px 15px 50px;
  border-radius: 15px;
  border: 2px solid var(--tertiary);
  transition: all 0.3s ease;
}
.contact .contact-content .row div a i:hover{
  color: var(--secondary);
  background-color: var(--tertiary);
}
.contact .contact-content .info .head{
  font-weight: 500;
}
.contact .contact-content .info .sub-title{
  color: #333;
}
.contact .right form .fields{
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea{
  height: 80px;
  width: 100%;
}
.contact .right form .name{
  margin-right: 10px;
}
.contact .right form .email{
  margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 15px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button{
  text-align: end;
}
.contact .right form .button button{
  display: inline-block;
  color: var(--tertiary);
  background-color: var(--secondary);
  width: 290px;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 33px;
  margin-top: 10px;
  border-radius: 15px;
  border: 2px solid var(--tertiary);
  transition: all 0.3s ease;
}
/* .contact .right form .button button:hover{
  color: var(--secondary);
  background-color: var(--tertiary);
} */
.text-contact{
  margin-left: 110px;
  margin-right: 110px;
}
.contact-btn-box{
  display: inline-flex;
  justify-content: center;
}
.contact-btn-box a{
  text-decoration: none;
  color: var(--tertiary);
  transition: all 0.3s ease;
}
.contact-btn-box a:hover{
  color: var(--tertiary);
}

/* ====================== Footer Section ====================== */
footer{
  background: var(--secondary);
  font-size: 14px;
  padding: 20px 15px;
  color: var(--primary);
  text-align: center;
}
footer span a{
  color: var(--tertiary);
  text-decoration: none;

}
footer span a:hover{
  color: var(--tertiary);
  text-decoration: underline;
}

/* ====================== Responsivity ====================== */

@media (max-width: 1399px){
  .testimonials-content .carousel-control-prev{
    margin-left: -25px;
  }
  .testimonials-content .carousel-control-next{
    margin-right: -25px;
  }
  .text-contact{
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media (max-width: 1199px){
  .home .home-content .img-box,
  .home .home-content .img-box .home-img{
    width: 0%;
    background: none; 
  }
  .home .home-content .home-text{
    width: 100%;
    /* background-color: royalblue; */
  }
  .testimonials-content .carousel-control-prev{
    margin-left: -15px;
  }
  .testimonials-content .carousel-control-next{
    margin-right: -15px;
  }
  .text-contact{
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (max-width: 991px){
  .menu-btn{
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before{
    content: "\f00d";
  }
  .navbar .menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: var(--secondary);
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active{
    left: 0;
  }
  .navbar .menu li{
    display: block;
  }
  .navbar .menu li a{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2{
    font-size: 70px;
  }
  .home .home-content .text-3{
    font-size: 35px;
  }
  .home .home-content a{
    font-size: 23px;
    padding: 10px 30px;
  }
  .about .about-content .left{
    width: 100%;
  }
  .about .about-content .right{
    width: 100%;
  }
  .contact .contact-content .column{
    width: 100%;
  }
  .testimonials-content .carousel-item .row{
    padding: 10px;
  }
  .testimonials-content .single-box{
    margin: 50px 0 10px 0;
  }
  .testimonials-content .carousel-control-prev{
    font-size: 0;
  }
  .testimonials-content .carousel-control-next{
    font-size: 0;
  }
  .text-contact{
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 767px){
  .navbar .logo a{
    font-size: 25px;
  }
  .home .home-content .text-2{
    font-size: 60px;
  }
  .home .home-content .text-3{
    font-size: 32px;
  }
  .home .home-content a{
    font-size: 20px;
  }
  .about .about-content .left .skills div{
    margin:  12px 8px;
    font-size: 42px;
  }
  .about .about-content .left .skills p{
    font-size: 0.95rem;
  }
  .about, .projects, .contact, footer{
    font-size: 0.98rem;
  }
  .about .about-content .right p{
    text-align: left;
  }
  .project-card{
    flex-direction: column;
    align-items: center;
  }
  .project-info{
    padding: 0;
  }
  .project-info-btns{
    display: flex;
    justify-content: center;
  }
  .about .about-content .right .experience-box .experience{
    width: calc(50% - 20px);
  }
  .about .about-content .right .about-btn{
    width: calc(100% - 20px);
  }
  .about .about-content .right .experience-box{
    flex-direction: row;
  }
  .testimonials-content .single-box{
    padding: 5px;
  }
  .testimonials-content .single-box .card-name-box i{
    margin-top: 1px;
    font-size: 17px;
  }
  .testimonials-content .single-box .card-subtitle{
    font-size: 14px;
  }
  .testimonials-content .single-box .card-text{
    font-size: 14px;
  }
  .text-contact{
    margin-left: 70px;
    margin-right: 70px;
  }
  .contact .contact-content .row a i{
    margin: 10px 30px 10px 30px;
  }
}

@media (max-width: 500px){
  .navbar .logo a{
    font-size: 19px;
  }
  .home .home-content .text-2{
    font-size: 50px;
  }
  .home .home-content .text-3{
    font-size: 27px;
  }
  .about .about-content .left .skills div{
    margin:  8px 6px;
    font-size: 38px;
  }
  .about .about-content .left .skills p{
    font-size: 0.9rem;
  }
  .about, .projects, .contact, footer{
    font-size: 0.95rem;
  }
  .text-contact{
    margin-left: 40px;
    margin-right: 40px;
  }
  .contact .contact-content .row a i{
    margin: 10px 15px 10px 15px;
  }
}
